
<h1>Welcome to DSheet Branding</h1>
<p>This is your datasheet area</p>
<p>"Select a product sku number and the reseller brand to incorporate in the datasheet"</p>
<form action="/products" method="POST">
  <div class="form-group">
     <label for="sku">Choose a SKU:</label>

 <select name="sku" id="sku">
    <option value="CWA639MPA">CWA639MPA</option>
    <option value="KAM501B">KAM501B</option>
    <option value="CWM320MP">CWM320MP</option>
    <option value="MWA632MP104">MWA632MP104</option>
  </select>
  
  <br><br>
  
  </div>


      <label for="reseller">Choose a Reseller:</label>
  <select name="reseller" id="reseller">
    <option value="CDW">CDW</option>
    <option value="Connection">Connection</option>
    <option value="Insight">Insight</option>
    <option value="Rugged Asia">Rugged Asia</option>
  </select>
  <br><br>
  
  </div>
  </div>
  
  <button type="submit" class="btn btn-primary" value="Submit">Submit</button>


  
</form>