<div class="row">
  <div class="starter-template">
    <div class="col-12">
    <h1>Welcome to DSheet Branding</h1>
    <p>This is your datasheet area</p>
    <p>"Select a product sku number and the reseller brand to incorporate in the datasheet"</p>
  </div>
    <section>
      <form action="/products" method="POST">
          <div class="form-group">
            <label for="sku">Choose a SKU:</label>

              <select name="sku" id="sku">
                  <option value="CWA639MPA">CWA639MPA</option>
                  <option value="KAM501B">KAM501B</option>
                  <option value="CWM320MP">CWM320MP</option>
                  <option value="MWA632MP104">MWA632MP104</option>
                  <option value="MWA635MH103">MWA635MH103</option>
                  <option value="CWA635MH">CWA635MH</option>
                  <option value="KAA112W">KAA112W</option>
                  <option value="KMX402W">KMX402W</option>
                  <option value="KAM504B">KAM504B</option>
                  <option value="MVU232">MVU232</option>
                  <option value="MMU232">MMU232</option>
                  <option value="MMU330">MMU330</option>
                  <option value="CWM408MPA">CWM408MPA</option>
                  <option value="CWA637MP-IS">CWA637MP-IS</option>
                  <option value="MWA635MH102">MWA635MH102</option>
                  <option value="MMU137S">MMU137S</option>
                  <option value="MWA635MH103">MWA635MH103</option>
                  <option value="MWA635MH103">MWA635MH103</option>
                  <option value="CWA413KL">CWA413KL</option>
                  <option value="MWA704MP">MWA704MP</option>
                  <option value="CWA742MP">CWA742MP</option>
                  <option value="CWM407MP-NFC-IS">CWM407MP-NFC-IS</option>
                  

              </select>
                
                <br><br>
          
          </div>

          <div class="form-group">
              <label for="resellers">Choose a Reseller:</label>
                <select name="resellers" id="resellers">
                 {{#each resellers}}

                
                <option>{{{this.rs_name}}}</option>

                  {{else}}
                  <p>No Resellers Found</p>

                  {{/each}}
                
                </select>
                <div class="row">
                 
                 </div> 
                <br><br>
                
          </div>
                
                <div><button type="submit" class="btn btn-primary" value="Submit">Submit</button> </div>
              
      </form>

    </section>

  </div>
</div>