
<!doctype html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>THE JOY FACTORY - PRODUCT PDF</title>
<link rel="stylesheet" type="text/css" href="inline.css">
</head>
<body>
<!--aXtion  Bold  MP START-->
<div class="wrapper">
<div class="section_div">
  <div class="container">
   <div class="section_div_left section_div_left_title_html"><h1>Elevate II Floor Stand Kiosk for iPad Pro 9.7" | Air 2 (Black)</h1></div>
    <div class="section_div_left">
      <h2>Floor Stand Kiosk</h2>
      
      <div class="divborder"> </div>
    
      <div class="sku"><strong>SKU:</strong> KAA201B</div>
      <div class="sku"><strong>MSRP:</strong> $279.99</div>
      <div class="description"><p>Elevate II Floor Stand Kiosk is a sleek, full-featured solution for turning an iPad into an interactive display. The Floor Standing Kiosk can be displayed anywhere there is floor space, making it perfect for retail showrooms, hotel lobbies, tradeshow displays, and many other public spaces. It is equipped with a lock and key so you can keep your iPad in the enclosure without fear of it being removed. Each kiosk also comes with a slot compatible with Kensington Locks, so you can tether the entire kiosk to an immovable object for maximum security.<ul><li>Compatible with the iPad Pro 9.7" | Air 2</li><li>Complete secured and enclosed</li><li>Access front camera</li><li>Easy installation</li><li>Premium built and finish</li><li>Slim and sleek design</li><li>Highly customizable</li><li>Support Kensington lock port </li><li><i class='pcut'>...</i></li></ul></p></div>
    </div>
    <div class="section_div_right">
      <div class="img-1"> <img class="show" src="https://cdn.shopify.com/s/files/1/1068/6034/products/tablet-kiosk-for-ipad-front-angled-right-view-kaa201b_1000x.jpg?v=1523371868" alt="ri_4"> </div>
      <div class="img-2">
        <ul><li><img class="show" src="https://cdn.shopify.com/s/files/1/1068/6034/products/tablet-kiosk-for-ipad-back-angled-right-view-kaa201b_300x.jpg?v=1523371868" alt="ri_1"></li><li><img class="show" src="https://cdn.shopify.com/s/files/1/1068/6034/products/tablet-kiosk-for-ipad-profile-kaa201b_300x.jpg?v=1523371869" alt="ri_1"></li><li><img class="show" src="https://cdn.shopify.com/s/files/1/1068/6034/products/tablet-kiosk-for-ipad-back-flat-view-kaa201b_300x.jpg?v=1523371869" alt="ri_1"></li></ul>
      </div>
    </div>
  </div>
</div>
<div class="section_div_2">
  <div class="container"><div class="features">
      <h3>Benefits</h3>
      <ul><li>Elegant</li><li>Improve Brand Perception</li></ul>
      <ul><li>Improve Efficiency</li><li>Peace of Mind</li></ul>
      <ul><li>Protect Investment</li><li>Reduce Cost</li></ul>
    </div><div class="general_features">
      <h3>Features</h3>
      <table>
        <tr><td><img src="../uploads/icons/elevate-ii-built-in-security.png" alt=""><span>Built-In Security</span></td><td><img src="../uploads/icons/elevate-ii-cable-management.png" alt=""><span>Cable Management</span></td><td><img src="../uploads/icons/elevate-ii-customizable.png" alt=""><span>Customizable</span></td></tr>
        <tr><td><img src="../uploads/icons/elevate-ii-portrait-or-landscape-mode.png" alt=""><span>Portrait or Landscape Mode</span></td><td><img src="../uploads/icons/elevate-ii-radio-transparent.png" alt=""><span>Radio Transparent</span></td><td><img src="../uploads/icons/elevate-ii-sleek-&-stylish-design.png" alt=""><span>Sleek & Stylish Design</span></td></tr>
      </table>
    </div></div>
</div>
<!--aXtion  Bold  MP END--> <div class="footer">
  <div class="container">
    <table>
      <tr>
        <td><h3>The Joy Factory Inc.</h3>
          <p>16811 Hale Ave Bldg D, Irvine, CA 92606 <span>I</span> sales@thejoyfactory.com <span>I</span> T : 949.216.8888 <span>I</span> F : 949.216.8889 <span>I</span> www.thejoyfactory.com</p></td>
        <td><ul>
            <li><img src="img/protect.jpg" alt="">Protect</li>
            <li><img src="img/secure.jpg" alt="">Secure</li>
            <li><img src="img/positin.jpg" alt="">Position</li>
            <li><img src="img/ci_6.png" alt=""></li>
          </ul></td>
      </tr>
    </table>
  </div>
</div><!--Technical Specifications START-->
<div class="container">
  <div class="technical">
    <h2>Technical Specifications</h2>
  </div>
</div>
<div class="case-specifications">
  <div class="container">
    <div class="case-specification-left"><img class="show" src="https://cdn.shopify.com/s/files/1/1068/6034/products/kaa201b-tech-specs_1000x.jpg?v=1523371871" alt="img">
      <div class="otherinfo">The information on this data sheet is subject to change at any time at the discretion of The Joy Factory</div>
    </div>
    <div class="case-specification-right">Height: 46"<BR>Viewing Angle: 45ยบ<BR>Base Diameter: 15"<BR>Compatibility: VESA 75mm and 100mm<BR>Compatible Models: iPad Pro 9.7" A1673 &amp; A1674, iPad Air 2 A1566 &amp; A1567<BR><br></br></BR></BR></BR></BR></BR></div>
  </div>
</div>
<div class="container">
<div class="product-pecification">
<div class="product-left">
<h1>Elevate II Floor Stand Kiosk for iPad Pro 9.7" | Air 2 (Black)</h1>

<div class="product-type">
<ul>
<li>SKU:  KAA201B</li>
<li>Product type:  Kiosks</li>
<li>MSRP:  $279.99</li>
</ul>
</div>
</div>
   
    <div class="product-table"><table class="product-speci-table">
        <tr class="product-speci-title-row">
          <td colspan="2" class="product-speci-title">Product Specifications</td>
        </tr>
        <tr>
          <td class="product-speci-col">Compatible with:</td>
          <td class="product-speci-col">iPad Air 2,iPad Pro 9.7</td>
        </tr>
        <tr class="product-speci-row">
          <td class="product-speci-col">Product width:</td>
          <td class="product-speci-col">15.18"</td>
        </tr>
        <tr>
          <td class="product-speci-col">Product height:</td>
          <td class="product-speci-col">46"</td>
        </tr>
        <tr class="product-speci-row">
          <td class="product-speci-col">Product thickness:</td>
          <td class="product-speci-col">15"</td>
        </tr>
        <tr>
          <td class="product-speci-col">Product weight:</td>
          <td class="product-speci-col">17 lbs</td>
        </tr>
        <tr class="product-speci-row">
          <td class="product-speci-col">Package width:</td>
          <td class="product-speci-col">18"</td>
        </tr>
        <tr>
          <td class="product-speci-col">Package height:</td>
          <td class="product-speci-col">4"</td>
        </tr>
        <tr class="product-speci-row">
          <td class="product-speci-col">Package depth:</td>
          <td class="product-speci-col">46"</td>
        </tr>
        <tr>
          <td class="product-speci-col">Package weight:</td>
          <td class="product-speci-col">23 lbs</td>
        </tr>
        <tr class="product-speci-row">
          <td class="product-speci-col">UPC:</td>
          <td class="product-speci-col">817713016361</td>
        </tr>
        <tr>
          <td class="product-speci-col">Warranty:</td>
          <td class="product-speci-col"></td>
        </tr>
        <tr class="product-speci-row">
          <td class="product-speci-col">Certifications:</td>
          <td class="product-speci-col"></td>
        </tr>
        <tr>
          <td class="product-speci-col">Rating:</td>
          <td class="product-speci-col">(Rating)</td>
        </tr>
        <tr class="product-speci-row">
          <td class="product-speci-col">&nbsp;</td>
          <td class="product-speci-col">&nbsp;</td>
        </tr>
        <tr>
          <td class="product-speci-col">Package content:</td>
          <td class="product-speci-col">Kiosk</td>
        </tr>
        <tr class="product-speci-row">
          <td class="product-speci-col">&nbsp;</td>
          <td class="product-speci-col">&nbsp;</td>
        </tr>
      </table></div>
 

<div class="account-section">
<table>
  <tr>
    <td class="account-section-col-img"><img style="" src="../uploads/gallery/jfeveveg38gkcgswk.jpg" width="142" alt=""></td>
    <td class="account-section-col-name"><h2 class="account-section-col-name-h2">Debra Vogel</h2>
      <h3 class="account-section-col-name-h3">Marketing</h3></td>
    <td class="account-section-col-phone">Direct Phone Number | 949.382.1547<br>
      Email Address | debra.vogel@thejoyfactory.com</td>
  </tr>
</table>
</div></div></div><div class="footer">
  <div class="container">
    <table>
      <tr>
        <td><h3>The Joy Factory Inc.</h3>
          <p>16811 Hale Ave Bldg D, Irvine, CA 92606<span>I</span> sales@thejoyfactory.com <span>I</span> T : 949.216.8888 <span>I</span> F : 949.216.8889 <span>I</span> www.thejoyfactory.com</p></td>
        <td><ul>
            <li><img src="img/protect.jpg" alt="">Protect</li>
            <li><img src="img/secure.jpg" alt="">Secure</li>
            <li><img src="img/positin.jpg" alt="">Position</li>
            <li><img src="img/ci_6.png" alt=""></li>
          </ul></td>
      </tr>
    </table>
  </div>
</div>
</div>
<!--Technical Specifications END-->

</body>
</html>
<!doctype html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>THE JOY FACTORY - PRODUCT PDF</title>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="../admin/assets/slick.css" />
<link rel="stylesheet" type="text/css" href="inline.css">
  
<script type='text/javascript'>
  $(document).ready(function() {
    $( "#pagePreview" ).click(function() {
        var skuId = $("#skuId").val();
        
      if(skuId == ""){
        alert('Please Select Sku');
        return false;
      }else{
        var partnerId = $("#partnerId").val();
        var contactId = $("#contactId").val();
        var htmlview = 'html';
        if(contactId != '' && partnerId != ''){
          var pathname = window.location.pathname;
          var newUrl =  window.origin+pathname+'?sku='+skuId+'&contact='+contactId+'&partner='+partnerId+'&type='+htmlview;
          window.location.href = newUrl;
        }else {
          var pathname = window.location.pathname;
          var newUrl =  window.origin+pathname+'?sku='+skuId+'&type='+htmlview;;
          window.location.href = newUrl;
        }
      }

    });

    $( "#dowloadPdf" ).click(function() {
        var skuId = $("#skuId").val();
        if(skuId == ""){
          alert('Please Select Sku');
          return false;
        }else{
            var partnerId = $("#partnerId").val();
            var contactId = $("#contactId").val();
            var forceval = 1;
            if(contactId != '' && partnerId != ''){
              var pathname = window.location.pathname;
              var newUrl =  window.origin+pathname+'?sku='+skuId+'&contact='+contactId+'&partner='+partnerId+'&force='+forceval;
              window.location.href = newUrl;
            }else {
              var pathname = window.location.pathname;
              var newUrl =  window.origin+pathname+'?sku='+skuId+'&force='+forceval;;
              window.location.href = newUrl;
            }
      }
    });

    $( "#viewPdf" ).click(function() {
        var skuId = $("#skuId").val();
        if(skuId == ""){
          alert('Please Select Sku');
          return false;
        }else{
            var partnerId = $("#partnerId").val();
            var contactId = $("#contactId").val();
            var forceval = 0;
            if(contactId != '' && partnerId != ''){
              var pathname = window.location.pathname;
              var newUrl =  window.origin+pathname+'?sku='+skuId+'&contact='+contactId+'&partner='+partnerId+'&force='+forceval;
              //window.location.href = newUrl;
              window.open(
                newUrl,
                '_blank' // <- This is what makes it open in a new window.
              );
            }else {
              var pathname = window.location.pathname;
              var newUrl =  window.origin+pathname+'?sku='+skuId+'&force='+forceval;;
             // window.location.href = newUrl;
              window.open(
                newUrl,
                '_blank' // <- This is what makes it open in a new window.
              );


            }
      }
      });
    
    $( "#openDataFeed" ).click(function() {
        var skuId = '10940876564';
        if(skuId == ""){
          alert('Please Select Sku');
          return false;
        }else{
            var partnerId = $("#partnerId").val();
            var contactId = $("#contactId").val();
            var forceval = 0;
              var newUrl =  '/pdfapp/check-single.php?id='+skuId;
              //window.location.href = newUrl;
              window.open(
                newUrl,
                '_blank' // <- This is what makes it open in a new window.
              );
      }
      });


    
  });
</script>
</head>

<body>
<ul id="menu">
	<li><a href="http://datasheet.thejoyfactory.com/pdfapp/app//mpdf">Editor</a></li>
      <li><a href="http://datasheet.thejoyfactory.com/pdfapp/app//admin/product">Product</a></li>
    <li><a href="http://datasheet.thejoyfactory.com/pdfapp/app//admin/contact">Contact</a></li>
    <li><a href="http://datasheet.thejoyfactory.com/pdfapp/app//admin/reseller">Reseller</a></li>
  	<li class="sublink"><a href="?action=clear_login">Logout</a></li>
</ul>


<header>
  <div class="pdf-generator">
    <h2>pdf generator</h2>
  </div>
  <div class="pdf-generator pdf-box pdf-box1">
    <ul>
      <li><span>1</span></li>
      <li>sku</li>
      <li>
        <select id="skuId">
          <option value="">Select</option>
                     
          <option value="BCX106"  >BCX106</option>
        
                    
          <option value="CFA201"  >CFA201</option>
        
                    
          <option value="CFA204"  >CFA204</option>
        
                    
          <option value="CFA206"  >CFA206</option>
        
                    
          <option value="CFA303-PT"  >CFA303-PT</option>
        
                    
          <option value="CKP201"  >CKP201</option>
        
                    
          <option value="CKX105"  >CKX105</option>
        
                    
          <option value="CKX108"  >CKX108</option>
        
                    
          <option value="CKX110"  >CKX110</option>
        
                    
          <option value="CKX111"  >CKX111</option>
        
                    
          <option value="CKX115"  >CKX115</option>
        
                    
          <option value="CKX117"  >CKX117</option>
        
                    
          <option value="CKX118"  >CKX118</option>
        
                    
          <option value="CKX119"  >CKX119</option>
        
                    
          <option value="CKX120"  >CKX120</option>
        
                    
          <option value="CWA212B"  >CWA212B</option>
        
                    
          <option value="CWA412"  >CWA412</option>
        
                    
          <option value="CWA413KL"  >CWA413KL</option>
        
                    
          <option value="CWA501"  >CWA501</option>
        
                    
          <option value="CWA601"  >CWA601</option>
        
                    
          <option value="CWA602"  >CWA602</option>
        
                    
          <option value="CWA603KL"  >CWA603KL</option>
        
                    
          <option value="CWA605"  >CWA605</option>
        
                    
          <option value="CWA609"  >CWA609</option>
        
                    
          <option value="CWA614"  >CWA614</option>
        
                    
          <option value="CWA632MP"  >CWA632MP</option>
        
                    
          <option value="CWA633KL"  >CWA633KL</option>
        
                    
          <option value="CWA635MH"  >CWA635MH</option>
        
                    
          <option value="CWA635MHW"  >CWA635MHW</option>
        
                    
          <option value="CWA639MP"  >CWA639MP</option>
        
                    
          <option value="CWA700"  >CWA700</option>
        
                    
          <option value="CWA702"  >CWA702</option>
        
                    
          <option value="CWA703KL"  >CWA703KL</option>
        
                    
          <option value="CWA722"  >CWA722</option>
        
                    
          <option value="CWA723KL"  >CWA723KL</option>
        
                    
          <option value="CWE203M"  >CWE203M</option>
        
                    
          <option value="CWE204"  >CWE204</option>
        
                    
          <option value="CWE302"  >CWE302</option>
        
                    
          <option value="CWE303"  >CWE303</option>
        
                    
          <option value="CWE305"  >CWE305</option>
        
                    
          <option value="CWE402"  >CWE402</option>
        
                    
          <option value="CWE405"  >CWE405</option>
        
                    
          <option value="CWE406MH"  >CWE406MH</option>
        
                    
          <option value="CWM200"  >CWM200</option>
        
                    
          <option value="CWM302"  >CWM302</option>
        
                    
          <option value="CWM303KL"  >CWM303KL</option>
        
                    
          <option value="CWM308"  >CWM308</option>
        
                    
          <option value="CWM309"  >CWM309</option>
        
                    
          <option value="CWM400MP"  >CWM400MP</option>
        
                    
          <option value="CWM408MPA"  >CWM408MPA</option>
        
                    
          <option value="CWM409MP"  >CWM409MP</option>
        
                    
          <option value="CWS100"  >CWS100</option>
        
                    
          <option value="CWS112MP"  >CWS112MP</option>
        
                    
          <option value="CWS113KL"  >CWS113KL</option>
        
                    
          <option value="CWS202"  >CWS202</option>
        
                    
          <option value="CWS203KL"  >CWS203KL</option>
        
                    
          <option value="CWS301"  >CWS301</option>
        
                    
          <option value="CWX125"  >CWX125</option>
        
                    
          <option value="CWX126"  >CWX126</option>
        
                    
          <option value="CWX201"  >CWX201</option>
        
                    
          <option value="CWX202"  >CWX202</option>
        
                    
          <option value="CWX205"  >CWX205</option>
        
                    
          <option value="CWX206"  >CWX206</option>
        
                    
          <option value="CWX207"  >CWX207</option>
        
                    
          <option value="CWX208"  >CWX208</option>
        
                    
          <option value="CWX209"  >CWX209</option>
        
                    
          <option value="KAA101"  >KAA101</option>
        
                    
          <option value="KAA101B"  >KAA101B</option>
        
                    
          <option value="KAA101W"  >KAA101W</option>
        
                    
          <option value="KAA102B"  >KAA102B</option>
        
                    
          <option value="KAA102W"  >KAA102W</option>
        
                    
          <option value="KAA103B"  >KAA103B</option>
        
                    
          <option value="KAA103W"  >KAA103W</option>
        
                    
          <option value="KAA104"  >KAA104</option>
        
                    
          <option value="KAA104B"  >KAA104B</option>
        
                    
          <option value="KAA104W"  >KAA104W</option>
        
                    
          <option value="KAA105W"  >KAA105W</option>
        
                    
          <option value="KAA106W"  >KAA106W</option>
        
                    
          <option value="KAA111B"  >KAA111B</option>
        
                    
          <option value="KAA111W"  >KAA111W</option>
        
                    
          <option value="KAA112B"  >KAA112B</option>
        
                    
          <option value="KAA112W"  >KAA112W</option>
        
                    
          <option value="KAA113B"  >KAA113B</option>
        
                    
          <option value="KAA113W"  >KAA113W</option>
        
                    
          <option value="KAA114B"  >KAA114B</option>
        
                    
          <option value="KAA114W"  >KAA114W</option>
        
                    
          <option value="KAA115B"  >KAA115B</option>
        
                    
          <option value="KAA115W"  >KAA115W</option>
        
                    
          <option value="KAA201B" selected >KAA201B</option>
        
                    
          <option value="KAA201W"  >KAA201W</option>
        
                    
          <option value="KAA202B"  >KAA202B</option>
        
                    
          <option value="KAA202W"  >KAA202W</option>
        
                    
          <option value="KAA203B"  >KAA203B</option>
        
                    
          <option value="KAA203W"  >KAA203W</option>
        
                    
          <option value="KAA204B"  >KAA204B</option>
        
                    
          <option value="KAA204W"  >KAA204W</option>
        
                    
          <option value="KAA301B"  >KAA301B</option>
        
                    
          <option value="KAA301W"  >KAA301W</option>
        
                    
          <option value="KAA302B"  >KAA302B</option>
        
                    
          <option value="KAA302W"  >KAA302W</option>
        
                    
          <option value="KAA303B"  >KAA303B</option>
        
                    
          <option value="KAA303W"  >KAA303W</option>
        
                    
          <option value="KAA304B"  >KAA304B</option>
        
                    
          <option value="KAA304W"  >KAA304W</option>
        
                    
          <option value="KAA305W"  >KAA305W</option>
        
                    
          <option value="KAA306W"  >KAA306W</option>
        
                    
          <option value="KAA402W"  >KAA402W</option>
        
                    
          <option value="KAA403W"  >KAA403W</option>
        
                    
          <option value="KAA601W"  >KAA601W</option>
        
                    
          <option value="KAA602W"  >KAA602W</option>
        
                    
          <option value="KAA603W"  >KAA603W</option>
        
                    
          <option value="KAA604W"  >KAA604W</option>
        
                    
          <option value="KAA701B"  >KAA701B</option>
        
                    
          <option value="KAA701W"  >KAA701W</option>
        
                    
          <option value="KAA702B"  >KAA702B</option>
        
                    
          <option value="KAA702W"  >KAA702W</option>
        
                    
          <option value="KAA703B"  >KAA703B</option>
        
                    
          <option value="KAA703W"  >KAA703W</option>
        
                    
          <option value="KAA704B"  >KAA704B</option>
        
                    
          <option value="KAA704W"  >KAA704W</option>
        
                    
          <option value="KAM301B"  >KAM301B</option>
        
                    
          <option value="KAM301W"  >KAM301W</option>
        
                    
          <option value="KAM302B"  >KAM302B</option>
        
                    
          <option value="KAM302W"  >KAM302W</option>
        
                    
          <option value="KAM303B"  >KAM303B</option>
        
                    
          <option value="KAM303W"  >KAM303W</option>
        
                    
          <option value="KAM304B"  >KAM304B</option>
        
                    
          <option value="KAM304W"  >KAM304W</option>
        
                    
          <option value="KAM305W"  >KAM305W</option>
        
                    
          <option value="KAM306W"  >KAM306W</option>
        
                    
          <option value="KAM402B"  >KAM402B</option>
        
                    
          <option value="KAM402W"  >KAM402W</option>
        
                    
          <option value="KAM403B"  >KAM403B</option>
        
                    
          <option value="KAM403W"  >KAM403W</option>
        
                    
          <option value="KAM501B"  >KAM501B</option>
        
                    
          <option value="KAM501W"  >KAM501W</option>
        
                    
          <option value="KAM502B"  >KAM502B</option>
        
                    
          <option value="KAM502W"  >KAM502W</option>
        
                    
          <option value="KAM503B"  >KAM503B</option>
        
                    
          <option value="KAM503W"  >KAM503W</option>
        
                    
          <option value="KAM504B"  >KAM504B</option>
        
                    
          <option value="KAM504W"  >KAM504W</option>
        
                    
          <option value="KAM506B"  >KAM506B</option>
        
                    
          <option value="KAS201B"  >KAS201B</option>
        
                    
          <option value="KAS201W"  >KAS201W</option>
        
                    
          <option value="KAS202B"  >KAS202B</option>
        
                    
          <option value="KAS202W"  >KAS202W</option>
        
                    
          <option value="KAS203B"  >KAS203B</option>
        
                    
          <option value="KAS203W"  >KAS203W</option>
        
                    
          <option value="KAS204B"  >KAS204B</option>
        
                    
          <option value="KAS204W"  >KAS204W</option>
        
                    
          <option value="KAS301B"  >KAS301B</option>
        
                    
          <option value="KAS301W"  >KAS301W</option>
        
                    
          <option value="KAS302B"  >KAS302B</option>
        
                    
          <option value="KAS302W"  >KAS302W</option>
        
                    
          <option value="KAS303B"  >KAS303B</option>
        
                    
          <option value="KAS303W"  >KAS303W</option>
        
                    
          <option value="KAS304B"  >KAS304B</option>
        
                    
          <option value="KAS304W"  >KAS304W</option>
        
                    
          <option value="KAS305B"  >KAS305B</option>
        
                    
          <option value="KAS305W"  >KAS305W</option>
        
                    
          <option value="KAS306B"  >KAS306B</option>
        
                    
          <option value="KAS306W"  >KAS306W</option>
        
                    
          <option value="KAX102"  >KAX102</option>
        
                    
          <option value="KKA501"  >KKA501</option>
        
                    
          <option value="KKA502"  >KKA502</option>
        
                    
          <option value="KKA504"  >KKA504</option>
        
                    
          <option value="KKS501"  >KKS501</option>
        
                    
          <option value="KKS503"  >KKS503</option>
        
                    
          <option value="KKX101"  >KKX101</option>
        
                    
          <option value="KKX102"  >KKX102</option>
        
                    
          <option value="KKX103"  >KKX103</option>
        
                    
          <option value="KKX104"  >KKX104</option>
        
                    
          <option value="KKX107"  >KKX107</option>
        
                    
          <option value="MCU101"  >MCU101</option>
        
                    
          <option value="MCU103"  >MCU103</option>
        
                    
          <option value="MCU104"  >MCU104</option>
        
                    
          <option value="MCU105"  >MCU105</option>
        
                    
          <option value="MCU107"  >MCU107</option>
        
                    
          <option value="MCU108"  >MCU108</option>
        
                    
          <option value="MCU109"  >MCU109</option>
        
                    
          <option value="MCU112"  >MCU112</option>
        
                    
          <option value="MKP111"  >MKP111</option>
        
                    
          <option value="MKP112"  >MKP112</option>
        
                    
          <option value="MKP115"  >MKP115</option>
        
                    
          <option value="MKP125"  >MKP125</option>
        
                    
          <option value="MKP126"  >MKP126</option>
        
                    
          <option value="MKP130"  >MKP130</option>
        
                    
          <option value="MKP131"  >MKP131</option>
        
                    
          <option value="MKP132"  >MKP132</option>
        
                    
          <option value="MKX101"  >MKX101</option>
        
                    
          <option value="MKX102"  >MKX102</option>
        
                    
          <option value="MKX103"  >MKX103</option>
        
                    
          <option value="MKX104S"  >MKX104S</option>
        
                    
          <option value="MKX105"  >MKX105</option>
        
                    
          <option value="MKX106"  >MKX106</option>
        
                    
          <option value="MKX109"  >MKX109</option>
        
                    
          <option value="MKX111"  >MKX111</option>
        
                    
          <option value="MKX114"  >MKX114</option>
        
                    
          <option value="MKX117"  >MKX117</option>
        
                    
          <option value="MKX118"  >MKX118</option>
        
                    
          <option value="MKX129"  >MKX129</option>
        
                    
          <option value="MLA202"  >MLA202</option>
        
                    
          <option value="MLA203"  >MLA203</option>
        
                    
          <option value="MLA204"  >MLA204</option>
        
                    
          <option value="MLA211"  >MLA211</option>
        
                    
          <option value="MLA215"  >MLA215</option>
        
                    
          <option value="MMA101-K"  >MMA101-K</option>
        
                    
          <option value="MMA102"  >MMA102</option>
        
                    
          <option value="MMA103"  >MMA103</option>
        
                    
          <option value="MMA104"  >MMA104</option>
        
                    
          <option value="MMA105"  >MMA105</option>
        
                    
          <option value="MMA106"  >MMA106</option>
        
                    
          <option value="MMA107"  >MMA107</option>
        
                    
          <option value="MMA108"  >MMA108</option>
        
                    
          <option value="MMA111"  >MMA111</option>
        
                    
          <option value="MMA200-K"  >MMA200-K</option>
        
                    
          <option value="MMA200MX101"  >MMA200MX101</option>
        
                    
          <option value="MMA200MX102"  >MMA200MX102</option>
        
                    
          <option value="MMA200MX103"  >MMA200MX103</option>
        
                    
          <option value="MMA200MX104"  >MMA200MX104</option>
        
                    
          <option value="MMA200MX105"  >MMA200MX105</option>
        
                    
          <option value="MMA200MX129"  >MMA200MX129</option>
        
                    
          <option value="MMA404"  >MMA404</option>
        
                    
          <option value="MMA409"  >MMA409</option>
        
                    
          <option value="MMA410"  >MMA410</option>
        
                    
          <option value="MMA4101"  >MMA4101</option>
        
                    
          <option value="MMA4102"  >MMA4102</option>
        
                    
          <option value="MMA4103"  >MMA4103</option>
        
                    
          <option value="MMA4104"  >MMA4104</option>
        
                    
          <option value="MMA4106"  >MMA4106</option>
        
                    
          <option value="MMA4129"  >MMA4129</option>
        
                    
          <option value="MMA504"  >MMA504</option>
        
                    
          <option value="MMA700"  >MMA700</option>
        
                    
          <option value="MMA7001"  >MMA7001</option>
        
                    
          <option value="MMA7002"  >MMA7002</option>
        
                    
          <option value="MMA7003"  >MMA7003</option>
        
                    
          <option value="MMA7004"  >MMA7004</option>
        
                    
          <option value="MMA7006"  >MMA7006</option>
        
                    
          <option value="MMA7029"  >MMA7029</option>
        
                    
          <option value="MME200-K"  >MME200-K</option>
        
                    
          <option value="MME201"  >MME201</option>
        
                    
          <option value="MME202"  >MME202</option>
        
                    
          <option value="MME203"  >MME203</option>
        
                    
          <option value="MME204"  >MME204</option>
        
                    
          <option value="MME205"  >MME205</option>
        
                    
          <option value="MME206"  >MME206</option>
        
                    
          <option value="MME209"  >MME209</option>
        
                    
          <option value="MME211"  >MME211</option>
        
                    
          <option value="MME214"  >MME214</option>
        
                    
          <option value="MME300-K"  >MME300-K</option>
        
                    
          <option value="MME301"  >MME301</option>
        
                    
          <option value="MME302"  >MME302</option>
        
                    
          <option value="MME304"  >MME304</option>
        
                    
          <option value="MME305"  >MME305</option>
        
                    
          <option value="MME306"  >MME306</option>
        
                    
          <option value="MME329"  >MME329</option>
        
                    
          <option value="MMG102"  >MMG102</option>
        
                    
          <option value="MMG104"  >MMG104</option>
        
                    
          <option value="MMG129"  >MMG129</option>
        
                    
          <option value="MMU101"  >MMU101</option>
        
                    
          <option value="MMU102"  >MMU102</option>
        
                    
          <option value="MMU103"  >MMU103</option>
        
                    
          <option value="MMU104"  >MMU104</option>
        
                    
          <option value="MMU105"  >MMU105</option>
        
                    
          <option value="MMU106"  >MMU106</option>
        
                    
          <option value="MMU109"  >MMU109</option>
        
                    
          <option value="MMU111"  >MMU111</option>
        
                    
          <option value="MMU114"  >MMU114</option>
        
                    
          <option value="MMU115"  >MMU115</option>
        
                    
          <option value="MMU116"  >MMU116</option>
        
                    
          <option value="MMU117"  >MMU117</option>
        
                    
          <option value="MMU118"  >MMU118</option>
        
                    
          <option value="MMU121"  >MMU121</option>
        
                    
          <option value="MMU123"  >MMU123</option>
        
                    
          <option value="MMU124"  >MMU124</option>
        
                    
          <option value="MMU125"  >MMU125</option>
        
                    
          <option value="MMU126"  >MMU126</option>
        
                    
          <option value="MMU129"  >MMU129</option>
        
                    
          <option value="MMU131"  >MMU131</option>
        
                    
          <option value="MMU205"  >MMU205</option>
        
                    
          <option value="MMX107"  >MMX107</option>
        
                    
          <option value="MMX108"  >MMX108</option>
        
                    
          <option value="MMX112"  >MMX112</option>
        
                    
          <option value="MMX115KL"  >MMX115KL</option>
        
                    
          <option value="MMX117"  >MMX117</option>
        
                    
          <option value="MMX118"  >MMX118</option>
        
                    
          <option value="MMX120"  >MMX120</option>
        
                    
          <option value="MMX205"  >MMX205</option>
        
                    
          <option value="MMX206"  >MMX206</option>
        
                    
          <option value="MNU101"  >MNU101</option>
        
                    
          <option value="MNU102"  >MNU102</option>
        
                    
          <option value="MNU102CL"  >MNU102CL</option>
        
                    
          <option value="MNU102KL"  >MNU102KL</option>
        
                    
          <option value="MNU103"  >MNU103</option>
        
                    
          <option value="MNU103CL"  >MNU103CL</option>
        
                    
          <option value="MNU103KL"  >MNU103KL</option>
        
                    
          <option value="MNU104"  >MNU104</option>
        
                    
          <option value="MNU104CL"  >MNU104CL</option>
        
                    
          <option value="MNU104KL"  >MNU104KL</option>
        
                    
          <option value="MNU105"  >MNU105</option>
        
                    
          <option value="MNU106"  >MNU106</option>
        
                    
          <option value="MNU107"  >MNU107</option>
        
                    
          <option value="MNU111"  >MNU111</option>
        
                    
          <option value="MNU111CL"  >MNU111CL</option>
        
                    
          <option value="MNU111KL"  >MNU111KL</option>
        
                    
          <option value="MNU118"  >MNU118</option>
        
                    
          <option value="MNU129"  >MNU129</option>
        
                    
          <option value="MNU201"  >MNU201</option>
        
                    
          <option value="MNU202"  >MNU202</option>
        
                    
          <option value="MNU203"  >MNU203</option>
        
                    
          <option value="MNU204"  >MNU204</option>
        
                    
          <option value="MNU205"  >MNU205</option>
        
                    
          <option value="MNU206"  >MNU206</option>
        
                    
          <option value="MNU209"  >MNU209</option>
        
                    
          <option value="MNU211"  >MNU211</option>
        
                    
          <option value="MNU302KL"  >MNU302KL</option>
        
                    
          <option value="MNU304KL"  >MNU304KL</option>
        
                    
          <option value="MNU311KL"  >MNU311KL</option>
        
                    
          <option value="MNU316KL"  >MNU316KL</option>
        
                    
          <option value="MNU405"  >MNU405</option>
        
                    
          <option value="MNU501"  >MNU501</option>
        
                    
          <option value="MNU502"  >MNU502</option>
        
                    
          <option value="MNU503"  >MNU503</option>
        
                    
          <option value="MNU504"  >MNU504</option>
        
                    
          <option value="MNU505"  >MNU505</option>
        
                    
          <option value="MNU506"  >MNU506</option>
        
                    
          <option value="MNU509"  >MNU509</option>
        
                    
          <option value="MNU511"  >MNU511</option>
        
                    
          <option value="MNU514"  >MNU514</option>
        
                    
          <option value="MNU515"  >MNU515</option>
        
                    
          <option value="MNU529"  >MNU529</option>
        
                    
          <option value="MNU602"  >MNU602</option>
        
                    
          <option value="MNU603"  >MNU603</option>
        
                    
          <option value="MNU604"  >MNU604</option>
        
                    
          <option value="MNU605"  >MNU605</option>
        
                    
          <option value="MNU615"  >MNU615</option>
        
                    
          <option value="MWA4102MP"  >MWA4102MP</option>
        
                    
          <option value="MWA4102MPS"  >MWA4102MPS</option>
        
                    
          <option value="MWA4104MP"  >MWA4104MP</option>
        
                    
          <option value="MWA4104MPS"  >MWA4104MPS</option>
        
                    
          <option value="MWA4105MP"  >MWA4105MP</option>
        
                    
          <option value="MWA4115MP"  >MWA4115MP</option>
        
                    
          <option value="MWA4115MPS"  >MWA4115MPS</option>
        
                    
          <option value="MWA602M"  >MWA602M</option>
        
                    
          <option value="MWA602MP"  >MWA602MP</option>
        
                    
          <option value="MWA602MPS"  >MWA602MPS</option>
        
                    
          <option value="MWA603MP"  >MWA603MP</option>
        
                    
          <option value="MWA604M"  >MWA604M</option>
        
                    
          <option value="MWA604MP"  >MWA604MP</option>
        
                    
          <option value="MWA604MPS"  >MWA604MPS</option>
        
                    
          <option value="MWA605M"  >MWA605M</option>
        
                    
          <option value="MWA605MP"  >MWA605MP</option>
        
                    
          <option value="MWA611MPS"  >MWA611MPS</option>
        
                    
          <option value="MWA615M"  >MWA615M</option>
        
                    
          <option value="MWA615MP"  >MWA615MP</option>
        
                    
          <option value="MWA615MPS"  >MWA615MPS</option>
        
                    
          <option value="MWA616M"  >MWA616M</option>
        
                    
          <option value="MWA616MP"  >MWA616MP</option>
        
                    
          <option value="MWA616MPS"  >MWA616MPS</option>
        
                    
          <option value="MWA617MP"  >MWA617MP</option>
        
                    
          <option value="MWA629MP"  >MWA629MP</option>
        
                    
          <option value="MWA701"  >MWA701</option>
        
                    
          <option value="MWA702"  >MWA702</option>
        
                    
          <option value="MWA702MP"  >MWA702MP</option>
        
                    
          <option value="MWA702MPS"  >MWA702MPS</option>
        
                    
          <option value="MWA703"  >MWA703</option>
        
                    
          <option value="MWA703MP"  >MWA703MP</option>
        
                    
          <option value="MWA703MPS"  >MWA703MPS</option>
        
                    
          <option value="MWA704"  >MWA704</option>
        
                    
          <option value="MWA704MP"  >MWA704MP</option>
        
                    
          <option value="MWA704MPS"  >MWA704MPS</option>
        
                    
          <option value="MWA705"  >MWA705</option>
        
                    
          <option value="MWA705MP"  >MWA705MP</option>
        
                    
          <option value="MWA706"  >MWA706</option>
        
                    
          <option value="MWA711"  >MWA711</option>
        
                    
          <option value="MWA711MP"  >MWA711MP</option>
        
                    
          <option value="MWA711MPS"  >MWA711MPS</option>
        
                    
          <option value="MWA715"  >MWA715</option>
        
                    
          <option value="MWA715MPS"  >MWA715MPS</option>
        
                    
          <option value="MWA716"  >MWA716</option>
        
                    
          <option value="MWA717"  >MWA717</option>
        
                    
          <option value="MWA718"  >MWA718</option>
        
                    
          <option value="MWA7202MP"  >MWA7202MP</option>
        
                    
          <option value="MWA7202MPS"  >MWA7202MPS</option>
        
                    
          <option value="MWA7204MP"  >MWA7204MP</option>
        
                    
          <option value="MWA7204MPS"  >MWA7204MPS</option>
        
                    
          <option value="MWA7205MP"  >MWA7205MP</option>
        
                    
          <option value="MWA7211MP"  >MWA7211MP</option>
        
                    
          <option value="MWA7211MPS"  >MWA7211MPS</option>
        
                    
          <option value="MWA7215MP"  >MWA7215MP</option>
        
                    
          <option value="MWA7215MPS"  >MWA7215MPS</option>
        
                    
          <option value="MWA729"  >MWA729</option>
        
                    
          <option value="MWE201M"  >MWE201M</option>
        
                    
          <option value="MWE202M"  >MWE202M</option>
        
                    
          <option value="MWE203M"  >MWE203M</option>
        
                    
          <option value="MWE204M"  >MWE204M</option>
        
                    
          <option value="MWE205M"  >MWE205M</option>
        
                    
          <option value="MWE206M"  >MWE206M</option>
        
                    
          <option value="MWE209M"  >MWE209M</option>
        
                    
          <option value="MWE211M"  >MWE211M</option>
        
                    
          <option value="MWM201"  >MWM201</option>
        
                    
          <option value="MWM202"  >MWM202</option>
        
                    
          <option value="MWM203"  >MWM203</option>
        
                    
          <option value="MWM204"  >MWM204</option>
        
                    
          <option value="MWM205"  >MWM205</option>
        
                    
          <option value="MWM215"  >MWM215</option>
        
                    
          <option value="MWM3002MP"  >MWM3002MP</option>
        
                    
          <option value="MWM3002MPS"  >MWM3002MPS</option>
        
                    
          <option value="MWM3004MP"  >MWM3004MP</option>
        
                    
          <option value="MWM3004MPS"  >MWM3004MPS</option>
        
                    
          <option value="MWM3005MP"  >MWM3005MP</option>
        
                    
          <option value="MWM3015MP"  >MWM3015MP</option>
        
                    
          <option value="MWM3015MPS"  >MWM3015MPS</option>
        
                    
          <option value="MWM400MP102"  >MWM400MP102</option>
        
                    
          <option value="MWM400MP103"  >MWM400MP103</option>
        
                    
          <option value="MWM400MP104"  >MWM400MP104</option>
        
                    
          <option value="MWM400MP105"  >MWM400MP105</option>
        
                    
          <option value="MWM400MP115"  >MWM400MP115</option>
        
                    
          <option value="MWM400MP129"  >MWM400MP129</option>
        
                    
          <option value="MWM409MP104"  >MWM409MP104</option>
        
                    
          <option value="MWM409MP116"  >MWM409MP116</option>
        
                    
          <option value="MWM409MP205"  >MWM409MP205</option>
        
                    
          <option value="MWS2002MP"  >MWS2002MP</option>
        
                    
          <option value="MWS2002MPS"  >MWS2002MPS</option>
        
                    
          <option value="MWS2004MP"  >MWS2004MP</option>
        
                    
          <option value="MWS2004MPS"  >MWS2004MPS</option>
        
                    
          <option value="MWS2005MP"  >MWS2005MP</option>
        
                    
          <option value="MWS2011MP"  >MWS2011MP</option>
        
                    
          <option value="MWS2011MPS"  >MWS2011MPS</option>
        
                    
          <option value="MWS2015MP"  >MWS2015MP</option>
        
                    
          <option value="MWS2015MPS"  >MWS2015MPS</option>
        
                    
          <option value="MWS3002M"  >MWS3002M</option>
        
                    
          <option value="MWS3005M"  >MWS3005M</option>
        
                    
          <option value="MWS3011M"  >MWS3011M</option>
        
                    
          <option value="MWS3021M"  >MWS3021M</option>
        
                    
          <option value="SCU101"  >SCU101</option>
        
                    
          <option value="SCU102"  >SCU102</option>
        
                    
          <option value="SGA100"  >SGA100</option>
        
                  </select>
      </li>
    </ul>
  </div>
  <div class="pdf-generator pdf-box pdf-box2">
    <ul>
      <li><span>2</span></li>
      <li>reseller</li>
      <li>
        <select id="partnerId">
          <option value="">Select</option>
                  
          <option value="1"  >Synnex</option>
        
                    
          <option value="7"  >CDW</option>
        
                    
          <option value="8"  >Ingram Micro</option>
        
                    
          <option value="9"  >Insight</option>
        
                    
          <option value="10"  >Shi</option>
        
                    
          <option value="11"  >Connection</option>
        
                    
          <option value="12"  >Rugged Asia</option>
        
                    
          <option value="13"  >Arcrea</option>
        
                    
          <option value="14"  >CTI Computech International</option>
        
                    
          <option value="15"  >The Joy Factory</option>
        
                    
          <option value="16"  >PCM</option>
        
                    
          <option value="17"  >Zones</option>
        
                    
          <option value="18"  >Sozo Distributing Ltd</option>
        
                    
          <option value="19"  >CDW Canada</option>
        
                    
          <option value="21"  >MNJ Technologies</option>
        
                    
          <option value="22"  >2moso</option>
        
                    
          <option value="23" selected >Driving Mobile Innovation</option>
        
                    
          <option value="24"  >Paragon Micro</option>
        
                  </select>
      </li>
    </ul>
  </div>
  <div class="pdf-generator pdf-box pdf-box3">
    <ul>
      <li><span>3</span></li>
      <li>contact</li>
      <li>
        <select id="contactId">
          <option value="">Select</option>
                  
          <option value="4"   >Sampson Yang</option>
        
                    
          <option value="5"   >Miranda Su</option>
        
                    
          <option value="6"   >Bill Nguyen</option>
        
                    
          <option value="8"   >Poya Moradi</option>
        
                    
          <option value="9"   >Bryan Church</option>
        
                    
          <option value="10"  selected >Debra Vogel</option>
        
                    
          <option value="12"   >Tracy Lo (TW)</option>
        
                    
          <option value="13"   >Lynn Swanson (Rep)</option>
        
                    
          <option value="14"   >Bruce Ralphs (Rep)</option>
        
                    
          <option value="15"   >Steve McGarrigle</option>
        
                    
          <option value="16"   >Richard Occhipinti</option>
        
                    
          <option value="17"   >Dave McCurdy</option>
        
                    
          <option value="18"   >Sophia Hsu</option>
        
                    
          <option value="20"   >Andy Haung</option>
        
                    
          <option value="21"   >Jim McCarthy</option>
        
                    
          <option value="22"   >Matthew Ricci</option>
        
                    
          <option value="23"   >Zeno Ricci</option>
        
                    
          <option value="24"   >Jason Howe</option>
        
                    
          <option value="25"   >Renรฉ Knierim</option>
        
                    
          <option value="26"   >Symantha Hencel</option>
        
                    
          <option value="27"   >Adam Comitor</option>
        
                    
          <option value="28"   >Brett McKone</option>
        
                    
          <option value="29"   >Chris Watson</option>
        
                    
          <option value="30"   >Angela Chen</option>
        
                  </select>
      </li>
    </ul>
  </div>
  <div class="pdf-box4">
   <button id="pagePreview"> Quick Preview </button> 
  </div>
</header>


<div class="footer-bottom">
<button id="dowloadPdf" >PDF download</button>
<button id="viewPdf" >open PDF</button>

  
  <button id="openDataFeed" >debug</button>

<span id="publicUrl" >Shared Link: <a href='http://datasheet.thejoyfactory.com/pdfapp/export/KAA201B.pdf' target='_blank'>http://datasheet.thejoyfactory.com/pdfapp/export/KAA201Bpdf</a></span>
</div>
<script src="../admin/assets/slick.js"></script>
    <script>
      $(function(){
        $('#menu').slicknav();
      });
    </script>
</body>
</html>